<h1>お買物ガイド</h1>
<br/>
<fieldset>
  <legend>お店情報</legend>

  <table id="table-01">
    <tr>
      <td class="order_label">商品代引：</td>
      <td class="order_label">商品をお持ちするヤマト運輸ドライバーへ商品と交換に現金にてお支払ください。</td>
    </tr>
    <tr>
      <td class="order_label">銀行振込（前払い）：</td>
      <td class="order_label">
        ご注文確定後7日以内にお振込みください。 7日を越えますと自動的にキャンセルとなります。 ご入金を確認出来次第の発送になります。
      </td>
    </tr>
    <tr>
      <td class="order_label">消費税の取り扱いについて：</td>
      <td class="order_label">
        当店では、消費税を含んだ価格を表示しております。
      </td>
    </tr>
    <tr>
      <td class="order_label">手数料について：</td>
      <td class="order_label">
        ◆商品代引（ヤマトコレクトサービス）をご利用の場合は代引（コレクト）手数料がかかります。<br />
        <br />
        【代引手数料】<br />
        商品代金合計が<br />
        1円～9,999円＝315円<br />
        10,000円～19,999円＝420円<br />
        20,000円以上＝無料<br />
        <br />
        ◆銀行振込（前払い）をご利用の場合は振込手数料はお客様ご負担でお願い致します。
      </td>
    </tr>
    
    <tr>
      <td class="order_label">お支払い方法：</td>
      <td class="order_label">
        ◆以下のお支払方法からご選択ください。<br />
        ・商品代引（コレクト）<br />
        ・銀行振込（前払い）<br />
        <br />
        ◆領収書・明細書について<br />
        ・クレジット決済を選択で、ご希望の場合には、領収書を商品と同封いたします。<br />
        ・商品代引（コレクト）、銀行振込（前払い）を選択された場合は、コレクトの領収書、振込控を領収書とさせて頂きます。<br />
        ・明細書をご希望の場合は、明細書を商品と同封いたします。<br />
        ※ギフト等の場合で、領収書・明細書を注文主様へ別送希望の場合は、コメント欄にその旨ご記入ください。<br />
        <br />
        ◆銀行振込をご利用の場合以下の口座へお振込みください。<br />
        ※ご注文確定から7日経過してもお振込みの無い場合はキャンセル扱いとさせて頂きます。<br />
        <br />
        西日本シティ銀行　美しが丘出張所<br />
        ニシニホンシティギンコウ ウツクシガオカシュッチョウショ<br />
        普通　XXXX<br />
        名義　BEERS なかむら<br />
      </td>
    </tr>
    <tr>
      <td class="order_label">お支払い期限について：</td>
      <td class="order_label">
        銀行振込をご利用の場合は、ご注文日より1週間以内にお振込みください。
        &nbsp;&nbsp;&nbsp;&nbsp;※1週間を過ぎますと自動的にキャンセル扱いとさせていただきます。
      </td>
    </tr>
  </table>
</fieldset>
