<h1>BEERS なかむらについて</h1>
<br/>
<fieldset>
  <legend>お店情報</legend>
  <dl>
    <dt class="order_label">店名：</dt>
    <dd class="order_label">BEERS なかむら</dd>
  </dl>
  <dl>
    <dt class="order_label">店名（カタカナ）：</dt>
    <dd class="order_label">ビアーズ ナカムラ</dd>
  </dl>
  <dl>
    <dt class="order_label">販売責任者：</dt>
    <dd class="order_label">中村 真吾</dd>
  </dl>
  <dl>
    <dt class="order_label">店紹介：</dt>
    <dd class="order_label">オリジナル焼酎いろいろあります♪写真入り、名前入り等々
    </dd>
  </dl>
  <dl>
    <dt class="order_label">郵便番号：</dt>
    <dd class="order_label">640-8432</dd>
  </dl>
  <dl>
    <dt class="order_label">住所：</dt>
    <dd class="order_label">和歌山県和歌山市土入２８４−６</dd>
  </dl>
  <dl>
    <dt class="order_label">電話番号：</dt>
    <dd class="order_label">073-452-8818</dd>
  </dl>
  <dl>
    <dt class="order_label">ファックス番号：</dt>
    <dd class="order_label">XXX-XXX-XXXX</dd>
  </dl>
</fieldset>
<fieldset>
  <legend>お問い合わせ情報</legend>
  <dl>
    <dt class="order_label">お問い合わせ窓口：</dt>
    <dd class="order_label">中村 真吾</dd>
  </dl>
  <dl>
    <dt class="order_label">郵便番号：</dt>
    <dd class="order_label">640-8432</dd>
  </dl>
  <dl>
    <dt class="order_label">住所：</dt>
    <dd class="order_label">和歌山県和歌山市土入２８４−階</dd>
  </dl>
  <dl>
    <dt class="order_label">お問い合わせ電話番号：</dt>
    <dd class="order_label">073-452-8818</dd>
  </dl>
  <dl>
    <dt class="order_label">お問い合わせファックス番号：</dt>
    <dd class="order_label">XXX-XXX-XXXX</dd>
  </dl>
  <dl>
    <dt class="order_label">お問い合わせメールアドレス：</dt>
    <dd class="order_label">XXXXX@XXXXX.ocn.ne.jp</dd>
  </dl>
  <dl>
    <dt class="order_label">ストア営業日/時間：</dt>
    <dd class="order_label">10：00～20：00まで(定休日なし)</dd>
  </dl>
</fieldset>

<br />
<p>
  ※お問い合わせは<%= link_to 'メール', :action => "contact" %>でも受け付けております。<br />
</p>
