<h1>BEERS NAKAMURAについて</h1>

<div id="CentInfoPage1">
  <div class="dvData">
    
    <h3 class="first-child">お店情報</h3>
    <div class="table01">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th>店名</th>
          <td>BEERS NAKAMURA</td>
        </tr>
        <tr>
          <th>店名（カタカナ）</th>
          <td>ビアーズ ナカムラ</td>
        </tr>
        <tr>
          <th>販売責任者</th>
          <td>中村 真吾</td>
        </tr>
        <tr>
          <th>店紹介</th>
          <td>オリジナル焼酎いろいろあります♪
            写真入り、名前入り等々
          </td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>640-8432</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>和歌山県和歌山市土入２８４−６</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>073-452-8818</td>
        </tr>
        <tr>
          <th>ファックス番号</th>
          <td>XXX-XXX-XXXX</td>
        </tr>
      </table>

    </div>
  </div>

  <div class="dvFree">
  </div>

  <div class="dvData">
    <h3 class="first-child">お問い合わせ情報</h3>
    <div class="table01">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th>お問い合わせ窓口</th>
          <td>中村 真吾</td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td>640-8432</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>和歌山県和歌山市土入２８４−階</td>
        </tr>
        <tr>
          <th>お問い合わせ電話番号</th>
          <td>073-452-8818</td>
        </tr>
        <tr>
          <th>お問い合わせファックス番号</th>
          <td>XXX-XXX-XXXX</td>
        </tr>
        <tr>
          <th>お問い合わせメールアドレス</th>
          <td>XXXXX@XXXXX.ocn.ne.jp</td>
        </tr>
        <tr>
          <th>ストア営業日/時間</th>
          <td>10：00～20：00まで(定休日なし)</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="dvFree">
  </div>


</div>
